
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #3b435b, #181818);
  background-repeat: no-repeat;
  height: 100vh;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  
}
header {
  background: linear-gradient(0deg, rgb(29, 29, 29), rgb(73, 73, 73))
}
a {
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: whitesmoke;
  font-family: poppins;
}